<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>TEST</title>
</head>
<body>
<h1>Test</h1>
    <form action="/user" method="post">
        <input type="number" name="userNum" placeholder="number">
        <input type="text" name="userName" placeholder="name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>